[Desktop Entry]
Name=AniSVG
Name[ca]=AniSVG
Name[ca@valencia]=AniSVG
Name[cs]=AniSVG
Name[da]=AniSVG
Name[de]=AniSVG
Name[el]=AniSVG
Name[en_GB]=AniSVG
Name[eo]=AniSVG
Name[es]=AniSVG
Name[et]=AniSVG
Name[fi]=AniSVG
Name[fr]=AniSVG
Name[ga]=AniSVG
Name[gl]=AniSVG
Name[hu]=AniSVG
Name[it]=AniSVG
Name[ja]=AniSVG
Name[km]=AniSVG
Name[ko]=AniSVG
Name[lv]=AniSVG
Name[nb]=AniSVG
Name[nds]=AniSVG
Name[nl]=AniSVG
Name[nn]=AniSVG
Name[pa]=AniSVG
Name[pl]=AniSVG
Name[pt]=AniSVG
Name[pt_BR]=AniSVG
Name[ro]=AniSVG
Name[ru]=AniSVG
Name[sr]=AniSVG
Name[sr@ijekavian]=AniSVG
Name[sr@ijekavianlatin]=AniSVG
Name[sr@latin]=AniSVG
Name[sv]=AniSVG
Name[tr]=AniSVG
Name[uk]=AniSVG
Name[x-test]=xxAniSVGxx
Name[zh_CN]=AniSVG
Name[zh_TW]=AniSVG
Comment=Plasma AniSVG
Comment[ca]=Plasma AniSVG
Comment[ca@valencia]=Plasma AniSVG
Comment[cs]=Plasma AniSVG
Comment[da]=Plasma AniSVG
Comment[de]=Plasma AniSVG
Comment[el]=Plasma AniSVG
Comment[en_GB]=Plasma AniSVG
Comment[eo]=Plasma AniSVG
Comment[es]=Plasma AniSVG
Comment[et]=Plasma AniSVG
Comment[fi]=Plasma AniSVG
Comment[fr]=Plasma AniSVG
Comment[ga]=Plasma AniSVG
Comment[gl]=Plasma AniSVG
Comment[hu]=Plasma AniSVG
Comment[it]=Plasma AniSVG
Comment[ja]=Plasma AniSVG
Comment[km]=ប្លាស្មា AniSVG
Comment[ko]=Plasma AniSVG
Comment[lv]=Plasma AniSVG
Comment[nb]=Plasma AniSVG
Comment[nds]=Plasma AniSVG
Comment[nl]=Plasma AniSVG
Comment[nn]=Plasma AniSVG
Comment[pa]=ਪਲਾਜ਼ਮਾ AniSVG
Comment[pl]=Plasma AniSVG
Comment[pt]=Plasma AniSVG
Comment[pt_BR]=Plasma AniSVG
Comment[ro]=Plasma AniSVG
Comment[ru]=Plasma AniSVG
Comment[sr]=Плазмин AniSVG
Comment[sr@ijekavian]=Плазмин AniSVG
Comment[sr@ijekavianlatin]=Plasmin AniSVG
Comment[sr@latin]=Plasmin AniSVG
Comment[sv]=Plasma AniSVG
Comment[tr]=Plasma AniSVG
Comment[uk]=Плазма AniSVG
Comment[x-test]=xxPlasma AniSVGxx
Comment[zh_CN]=Plasma AniSVG
Comment[zh_TW]=Plasma AniSVG
Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-Library=plasma_wallpaper_anisvg
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=anisvg
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

